.error-message {
  color: var(--error-message-color);
}

.form {
  align-items: center;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
  width: 100%;
  
  @include for-tablets {
    border-radius: $border-radius;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.15);
    padding: 20px;
    margin-bottom: 0;
    min-width: 400px;
    width: 50%;
  }

  @include for-desktops {
    width: 35%;
    max-width: 500px;
  }

  img {
    @include for-desktops{
      display: none;
    }
  }
}

.form-help {
  @include body;

  @include for-tablets {
    @include body-tiny;
  }
}

.forms-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;

  @include for-desktops {
    justify-content: space-between;
  }
}

section.form-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  max-width: 500px;
  width: 100%;

  @include for-tablets {
    max-width: 1400px;
  }

  @include for-desktops {
    padding: 0 10%;
  }

  .form-header {
    opacity: 1;
    transition: opacity 2s ease-in-out;
  }

  .form-header.change-text {
    opacity: 0;
  }

  .hero-section {
    // align-items: center;
    display: none;
    flex-direction: column;
    height: 500px;
    width: 50%;

    @include for-desktops {
      display: flex;
    }

    .img-wrapper {
      display: flex;
      // justify-content: center;
      margin-top: 100px;

      img {
        border-radius: $border-radius;
        height: auto;
        width: 30%;
      }

      img:first-child {
        transform: translateX(50px);
        transition: all 0.3s ease-in-out;
      }

      img:first-child:hover {
        box-shadow: 20px -17px 4px rgba(0, 0, 0, 0.15);
        cursor: zoom-in;
        transform: scale(1.2) translate(0, 50px);
        z-index: 999;
      }

      img:nth-child(2) {
        transform: translateY(-50px);
        transition: all 0.3s ease-in-out;
      }
      
      img:nth-child(2):hover {
        box-shadow: 17px -9px 4px rgba(0, 0, 0, 0.15);
        cursor: zoom-in;
        transform: scale(1.2) translateY(-40px) translateX(-70px);
        z-index: 999;
      }

      img:last-child {
        transform: translate(-50px, 30px);
        transition: all 0.3s ease-in-out;
      }

      img:last-child:hover {
        box-shadow: -20px -5px 4px rgba(0, 0, 0, 0.15);
        cursor: zoom-in;
        transform: scale(1.2) translate(10px, -40px);
      }
    }

    .img-wrapper-login {
      display: flex;
      justify-content: center;
      overflow: hidden;

      img {
        border-radius: $border-radius;
        height: 100%;
        transition: all 3s ease-in-out;
        width: auto;
      }

      img.low-opacity {
        opacity: 0;
      }
    }
  }
}

.resend-code {
  @include body-tiny;
  cursor: pointer;
  text-decoration: underline;
  pointer-events: all;
  text-decoration: underline;
}

.resend-code.disabled {
  pointer-events: none;
  text-decoration: none;
}