.events-container {
  padding: 0 !important;
  width: 100%;


  a {
    color: var(--bs-black);
    text-decoration: none;
  }
}


.saved-events-container {
  display: flex;
  flex-direction: column;
  gap: 10px;


  .bi-clock {
    font-size: 15px;
  }


  .bi-x {
    font-size: 20px;

    &:hover {
      cursor: pointer;
    }
  }


  .event {
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    padding: 10px;
    transition: all 1s ease-in-out;

    &.disappear {
      opacity: 0;
    }
  }


  img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }


  .img-cover {
    aspect-ratio: 1;
    width: 20%;
  }


  .title {
    font-weight: 500;

    @include for-tablets {
      font-size: medium;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
