// Search Container Styling
.recent-searches-wrapper.hide {
  animation: disappear .5s ease-in-out forwards;
}


.search-container {
  height: 100%;
  position: relative;


  .account-container {
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 10px;
    padding: 10px;
  }


  .illustration {
    height: auto;
    width: 60%;
  }


  img {
    aspect-ratio: 1;
    width: 50px;
  }


  .move-to-top {
    animation: move-up ease-in-out 1s forwards;
  }

  @keyframes move-up {
    from {
      bottom: 10px;
    }
  
    95% {
      bottom: calc(100% - 52.5px);
    }
    
    to {
      bottom: auto;
    }
  }


  .not-found {
    align-items: center;
    display: flex;
    flex-direction: column;
  }


  .search-icon-wrapper {
    align-items: center;
    background-color: #ced4da;
    border: 1px solid #ced4da;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: center;
    width: 10%;

    &:hover {
      cursor: pointer;
    }


    i {
      color: var(--primary-color); 
      font-size: 25px;
    }
  }

  
  .search-input {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    padding: 10px 8px;
    width: 90%;
  }

  
  .search-input-container {
    bottom: 10px;
    display: flex;
    position: absolute;
    width: calc(100% - 40px);

    @include for-tablets {
      width: calc(100% - 20px);
    }
  }


  .search-recents {
    overflow-y: auto;
    transition: all .3s ease-out;
    width: 100%;
  }


  .skeleton-card {
    border-radius: $border-radius;
    height: 80px;
    margin-bottom: 10px;
    width: 100%;
  }
}

@keyframes disappear {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}


.search-results {
  display: none;
  opacity: 0;
  padding-top: 65px;


  .content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10px;
    width: 100%;


    div {
      width: 100%;
    }

    
    .spinner {
      color: var(--primary-color);
      display: none;
    }
  }


  .nav {
    display: flex;
    justify-content: space-between;


    span {
      &.active::after {
        background-color: var(--secondary-text-color);
        content: '';
        display: block;
        height: 1px;
        width: 100%;
      }

      &::after {
        background-color: var(--secondary-text-color);
        content: '';
        display: block;
        height: 1px;
        transition: width .3s;
        -moz-transition: width .3s;
        -o-transition: width .3s;
        -webkit-transition: width .3s;
        width: 0;
      } 

      &:hover {
        cursor: pointer;

        &::after {
          width: 100%;
        }
      }
    }
  }
}


.search-results.show {
  animation: appear 1s ease-in-out forwards;

  @keyframes appear {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
}


