section.metrics {
  height: 100vh;

  .stats {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    @include headline;
  }

  .numbers {
    @include display;
  }
}