{% extends 'invite/layout.html' %}

{% load static %}

{% block title %} Page Not Found {% endblock %}

{% block body %}

<section class='page-not-found'>
  <div class='illustration-wrapper mb-3'>
    <img src='{% static "invite/images/illustrations/fatal_error.gif" %}' alt='page-not-found-illustration-by-icons8'
      loading='lazy'>
  </div>

  <div class='text-center'>
    <h3 class='mb-3 font-headline'>Oops! It seems like there was an error. This may occasionally happen during our testing phase as we work to improve the app. We apologize for any inconvenience this may cause. Please try again later.</h3>

    <a class='btn btn-secondary btn-small' href='{% url "invite:index" %}'>Take me to the home page</a>
  </div>
</section>



{% endblock %}