<!DOCTYPE html>
<html>
<body>     
<form action="x.php">
    <div class="lol">
        <h1><a href="#"><img src="menu-2.1024x682.png" width="30" height="20"></a>  Access</h1>
        <h1>Avengers: Secret Wars</h1>
        <p><img src="location-pin.761x1024.png" width="10" height="12"> Brooklyn Cinema, Pretoria  (<a href="#">See exact location</a>)</p>
        <p><img src="clock.1024x1024.png" width="12" height="12"> 11 Nov 2024, 19:40</p>
        <img src="qrcode_www.youtube.com.png" width="350" height="350">
        <br>

        <hr>
    <div class="lol2">
        <p>
            <img src="home-outline.922x1024.png" width="40" height="40" style="padding-right: 2em">
            <img src="search-outline.1024x1024.png" width="40" height="40" style="padding-right: 2em"> 
            <img src="person-add-outline.1024x970.png" width="45" height="40" style="padding-right: 2em"> 
            <img src="bookmark-outline.803x1024.png" width="30" height="40" style="padding-right: 2em"> 
            <img src="account-circle.1024x1024.png" width="47" height="47" style="padding-right: 2em"> 
            
        </p> 
    </div>    
        
</form>
        

</body>
</html> 
