{% extends 'invite/layout.html' %}

{% block title %} Edit Profile {% endblock %}

{% block body %}

<!-- Your code goes here -->
<section>
    <!-- Profile  -->
    <div class='text-center'>
        <img class='rounded-circle'
            src='https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=800'
            alt='profile-picture' height='100'>
        <i class='bi bi-pencil-fill'></i>
    </div>

    <!-- Name  -->
    <div class='border-bottom border-dark d-flex px-3 py-1 align-items-center justify-content-between'>
        <div class='d-flex align-items-center'>
            <div>
                <i class='bi bi-person'></i>
            </div>
            <div class='d-flex flex-column'>
                <span>Name</span><span>John Doe</span>
            </div>
        </div>
        <div>
            <i class='bi bi-pencil-fill'></i>
        </div>
    </div>

    <!-- Username  -->
    <div class='border-bottom border-dark d-flex px-3 py-1 align-items-center justify-content-between'>
        <div class='d-flex align-items-center'>
            <div>
                <i class='bi bi-at'></i>
            </div>
            <div class='d-flex flex-column'>
                <span>Username</span><span>realjohndoe</span>
            </div>
        </div>
        <div>
            <i class='bi bi-pencil-fill'></i>
        </div>
    </div>

    <!-- About  -->
    <div class='border-bottom border-dark d-flex px-3 py-1 align-items-center justify-content-between'>
        <div class='d-flex align-items-center'>
            <div>
                <i class='bi bi-info-circle'></i>
            </div>
            <div class='d-flex flex-column'>
                <span>About</span><span>King of the Dark Web</span>
            </div>
        </div>
        <div>
            <i class='bi bi-pencil-fill'></i>
        </div>
    </div>

    <!-- Email -->
    <div class='border-bottom border-dark d-flex px-3 py-1 align-items-center justify-content-between'>
        <div class='d-flex align-items-center'>
            <div>
                <i class='bi bi-envelope'></i>
            </div>
            <div class='d-flex flex-column'>
                <span>Email</span><span>johndoe123@gmail.com</span>
            </div>
        </div>
        <div>
            <i class='bi bi-pencil-fill'></i>
        </div>
    </div>

    <!-- Phone Number  -->
    <div class='border-bottom border-dark d-flex px-3 py-1 align-items-center justify-content-between'>
        <div class='d-flex align-items-center'>
            <div>
                <i class='bi bi-telephone'></i>
            </div>
            <div class='d-flex flex-column'>
                <span>Phone</span><span>+1 234-567-890</span>
            </div>
        </div>
        <div>
            <i class='bi bi-pencil-fill'></i>
        </div>
    </div>

</section>

{% endblock %}