{% extends 'invite/layout.html' %}

{% block title %} Profile {% endblock %}

{% block body %}

<!-- Your code goes here -->

<section class='fgeneral'>
  <div class='ftitle'>
    <h2>Find Friends</h2>
  </div>
  <div class='d-flex justify-content-between align-items-center border-dark py-2 fcard'>
    <div class='d-flex'>
      <img class='rounded-circle'
        src='https://images.unsplash.com/photo-1610216705422-caa3fcb6d158?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8cGVyc29ufGVufDB8MnwwfHw%3D&auto=format&fit=crop&w=500&q=60'
        height='100px'>
      <div class='ms-2'>
        <a href="profile URL" class='flink'>@Foo</a>
        <p class='fname'>Foo Baz</p>
      </div>
    </div>
  
    <div><button class="btn btn-primary fbtn">Add Friend</button></div>
  </div>
  
  <div class='d-flex justify-content-between align-items-center border-dark py-2 fcard'>
    <div class='d-flex'>
      <img class='rounded-circle'
        src='https://images.unsplash.com/photo-1597223557154-721c1cecc4b0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8cGVyc29ufGVufDB8MnwwfHw%3D&auto=format&fit=crop&w=500&q=60'
        height='100px'>
      <div class='ms-2'>
        <a href="profile URL" class='flink'>@Bar</a>
        <p class='fname'>Bar Baz</p>
      </div>
    </div>
  
    <div><button class="btn btn-primary fbtn">Add Friend</button></div>
  </div>
  
  <div class='d-flex justify-content-between align-items-center border-dark py-2 fcard'>
    <div class='d-flex'>
      <img class='rounded-circle'
        src='https://images.unsplash.com/photo-1519625594242-7db544018926?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjJ8fHBlcnNvbnxlbnwwfDJ8MHx8&auto=format&fit=crop&w=500&q=60'
        height='100px'>
      <div class='ms-2'>
        <a href="profile URL" class='flink'>@Sandra</a>
        <p class='fname'>Sandra Mikhael</p>
      </div>
    </div>
  
    <div><button class="btn btn-primary fbtn">Add Friend</button></div>
  </div>
  
  <div class='d-flex justify-content-between align-items-center border-dark py-2 fcard'>
    <div class='d-flex'>
      <img class='rounded-circle'
        src='https://images.unsplash.com/photo-1529068755536-a5ade0dcb4e8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fHBlcnNvbnxlbnwwfDJ8MHx8&auto=format&fit=crop&w=500&q=60'
        height='100px'>
      <div class='ms-2'>
        <a href="profile URL" class='flink'>@Connorasanda</a>
        <p class='fname'>Asanda Connor</p>
      </div>
    </div>
  
    <div><button class="btn btn-primary fbtn">Add Friend</button></div>
  </div>
  
  <div class='d-flex justify-content-between align-items-center border-dark py-2 fcard'>
    <div class='d-flex'>
      <img class='rounded-circle'
        src='https://images.unsplash.com/photo-1497340525489-441e8427c980?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fGluZGlhbiUyMGdpcmx8ZW58MHwyfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60'
        height='100px'>
      <div class='ms-2'>
        <a href="profile URL" class='flink'>@Pragya25</a>
        <p class='fname'>Pragya Aggrawal</p>
      </div>
    </div>
  
    <div><button class="btn btn-primary fbtn">Add Friend</button></div>
  </div>
</section>


{% endblock %}