{% extends 'invite/layout.html' %}

{% block title %} Profile {% endblock %}

{% block body %}

<!-- Your code goes here -->

<body>
    <div>
        <img align='left' src='person-add.svg'>
        <h1>Find Friends</h1>
    </div><br><br><br>

        <div class='baz'>
            <img align='left' src='foobar.jpg'>
            @Baz<br>Baz baz<br>
        
            <div class='friend'>
                <button>Add friend</button>
            </div>
        </div>
        
        <br>
        <br>
        <hr>
        
        <div class='baz'>
            <img align='left' src='bar.jpg'>
            @foo<br>Foo Bar<br>

            <div class='friend'>
                <button>Add friend</button>
            </div>
        </div>

        <br>
        <br>
        <hr>

        
        <div class='baz'>
            <img align='left' src='sandra.jpg'>
            @sandra123<br>Sandra Mikhael<br>

            <div class='friend'>
                <button>Add friend</button>
            </div>
        </div>

        <br>
        <br>
        <hr>

        
        <div class='baz'>
            <img align='left' src='connor.jpg'>
            @connorasanda<br>Asanda Connor<br>

            <div class='friend'>
                <button>Add friend</button>
            </div>
        </div>

        <br>
        <br>
        <hr>

        
        <div class='baz'>
            <img align='left' src='pragya.jpg'>
            @pragya25<br>Pragya Agarwal<br>

            <div class='friend'>
                <button>Add friend</button>
            </div>
        </div>

        <br>
        <br>
        <hr>

{% endblock %}
