{% extends 'invite/main.html' %}

{% load static %}

{% block head %}
<script src='https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.css' rel='stylesheet' />
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v2.13.0/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v2.13.0/mapbox-gl.css' rel='stylesheet' />
{% endblock %}


{% block main %}

<section class='home-page'>
  <div class='d-flex justify-content-center logo-sm d-md-none'>
    <img class='logo' src='{% static "/invite/images/app/logo.svg" %}' alt='logo'>
  </div>
  <div class='home-nav d-flex justify-content-between align-items-center d-md-none'>
    <div class='left-nav'>
      <i class='bi bi-plus-square add-new-event'></i>
      <div class='font-headline'>Add Event</div>
    </div>
    <div class='right-nav'>
      <i class='bi bi-bookmark saved-events-btn'></i>
      <i class='bi bi-bell notification'></i>
    </div>
  </div>
  
  <div class='logo-wrapper d-none d-md-block'>
    <img class='logo' src='{% static "invite/images/app/logo.svg" %}' alt='logo'>
  </div>

  <div class='home-body'>
    <div class='top-rated-accounts'>
      <div class='header d-flex align-items-center'>
        <i class='bi bi-star-fill'></i><span class='ms-2 font-headline'>Top Rated Organisers</span>
      </div>
      <div class='index-content'>
        <div class='user-info'>
          <div class='d-flex justify-content-between align-items-center'>
            <div class='d-flex'>
              <img src='{% static "invite/images/profiles/a4c31db4c6b142f890ee9f08e426cce1.jpg" %}' alt=''>
              <div class='ms-1'>
                <div class='font-body-tiny'>@therealjohndoe</div>
                <div>John Doe</div>
              </div>
            </div>
            <div>
              <button class='btn btn-primary btn-small'>Follow</button>
            </div>
          </div>

          <div class='ratings-container'>
            <i class='bi bi-star-fill'></i>
            <i class='bi bi-star-fill'></i>
            <i class='bi bi-star-fill'></i>
            <i class='bi bi-star-fill'></i>
            <i class='bi bi-star-fill'></i>
            <span>4.3 (1.7 M)</span>
          </div>
        </div>
        <div class='user-info'>
          <div class='d-flex justify-content-between align-items-center'>
            <div class='d-flex'>
              <img src='{% static "invite/images/profiles/a4c31db4c6b142f890ee9f08e426cce1.jpg" %}' alt=''>
              <div class='ms-1'>
                <div class='font-body-tiny'>@jolene</div>
                <div>Jolene Dart</div>
              </div>
            </div>
            <div>
              <button class='btn btn-primary btn-small'>Follow</button>
            </div>
          </div>
  
          <div class='ratings-container'>
            <i class='bi bi-star-fill'></i>
            <i class='bi bi-star-fill'></i>
            <i class='bi bi-star-fill'></i>
            <i class='bi bi-star-fill'></i>
            <i class='bi bi-star-fill'></i>
            <span>4.9 (3.7 M)</span>
          </div>
        </div>
        <div class='user-info'>
          <div class='d-flex justify-content-between align-items-center'>
            <div class='d-flex'>
              <img src='{% static "invite/images/profiles/a4c31db4c6b142f890ee9f08e426cce1.jpg" %}' alt=''>
              <div class='ms-1'>
                <div class='font-body-tiny'>@ruthlesslewis</div>
                <div>Ruth Lewis</div>
              </div>
            </div>
            <div>
              <button class='btn btn-primary btn-small'>Follow</button>
            </div>
          </div>
  
          <div class='ratings-container'>
            <i class='bi bi-star-fill'></i>
            <i class='bi bi-star-fill'></i>
            <i class='bi bi-star-fill'></i>
            <i class='bi bi-star-fill'></i>
            <i class='bi bi-star-fill'></i>
            <span>4.7 (945 K)</span>
          </div>
        </div>
        <div class='user-info'>
          <div class='d-flex justify-content-between align-items-center'>
            <div class='d-flex'>
              <img src='{% static "invite/images/profiles/a4c31db4c6b142f890ee9f08e426cce1.jpg" %}' alt=''>
              <div class='ms-1'>
                <div class='font-body-tiny'>@marriedtojohndoe</div>
                <div>Jane Doe</div>
              </div>
            </div>
            <div>
              <button class='btn btn-primary btn-small'>Follow</button>
            </div>
          </div>
  
          <div class='ratings-container'>
            <i class='bi bi-star-fill'></i>
            <i class='bi bi-star-fill'></i>
            <i class='bi bi-star-fill'></i>
            <i class='bi bi-star-fill'></i>
            <i class='bi bi-star-fill'></i>
            <span>4.1 (314 K)</span>
          </div>
        </div>
        <div class='user-info'>
          <div class='d-flex justify-content-between align-items-center'>
            <div class='d-flex'>
              <img src='{% static "invite/images/profiles/a4c31db4c6b142f890ee9f08e426cce1.jpg" %}' alt=''>
              <div class='ms-1'>
                <div class='font-body-tiny'>@tamash</div>
                <div>Tamasha Keith</div>
              </div>
            </div>
            <div>
              <button class='btn btn-primary btn-small'>Follow</button>
            </div>
          </div>
  
          <div class='ratings-container'>
            <i class='bi bi-star-fill'></i>
            <i class='bi bi-star-fill'></i>
            <i class='bi bi-star-fill'></i>
            <i class='bi bi-star-fill'></i>
            <i class='bi bi-star-fill'></i>
            <span>4.7 (2.3 M)</span>
          </div>
        </div>
      </div>
    </div>

    <div class='home-main-content'>
      <div class='navigation d-flex justify-content-between font-title'>
        <div class='nav-item index-filter selected all-index'>All</div>
        <div class='nav-item index-filter filter-by-nearby'>Nearby</div>
        <div class='nav-item index-filter filter-by-friends'>Friends</div>
        <div class='nav-item index-filter filter-by-following'>Following</div>
        <div class='nav-item index-filter filter-by-upcoming'>Upcoming</div>
      </div>
    
      <div class='events-main'>

        <div class='index-events-container'>
          <div class='post events-loading-container'>
            <div class='user-info d-flex justify-content-between align-items-center'>
              <div class='d-flex'>
                <div class='skeleton profile-img'></div>
                <div class='skeleton name ms-2'></div>
              </div>
              <div>
                <div class='skeleton button'></div>
              </div>
            </div>

            <div class='skeleton buttons mt-3'></div>
            <div class='skeleton text-line mt-3'></div>
            <div class='skeleton text-line mt-2'></div>
            <div class='skeleton text-line mt-2 shorter'></div>

            <div class='d-flex justify-content-between mt-3'>
              <div class='skeleton item'></div>
              <div class='skeleton item'></div>
              <div class='skeleton item'></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class='top-rated-events'>
      <div class='header d-flex align-items-center'>
        <i class='bi bi-star-fill'></i><span class='ms-2 font-headline'>Trending Events</span>
      </div>
      <div class='index-content'>
        <div class='user-info'>
          <div class='d-flex justify-content-between align-items-center'>
            <div class='d-flex'>
              <img src='{% static "invite/images/profiles/a4c31db4c6b142f890ee9f08e426cce1.jpg" %}' alt=''>
              <div class='ms-1'>
                <div class='font-body-tiny'>@kkevin07</div>
                <div class='font-title'>Mr & Mrs Khumalo's Wedding</div>
              </div>
            </div>
          </div>

          <div>
            <div class='d-flex align-items-center'>
              <i class='bi bi-clock'></i>
              <span class='ms-1 font-body-tiny'>6 Feb 2023</span>
            </div>
  
            <div class='ratings-container'>
              <i class='bi bi-star-fill'></i>
              <i class='bi bi-star-fill'></i>
              <i class='bi bi-star-fill'></i>
              <i class='bi bi-star-fill'></i>
              <i class='bi bi-star-fill'></i>
              <span>4.3 (1.7 M)</span>
            </div>
          </div>

        </div>

        <div class='user-info'>
          <div class='d-flex justify-content-between align-items-center'>
            <div class='d-flex'>
              <img src='{% static "invite/images/profiles/a4c31db4c6b142f890ee9f08e426cce1.jpg" %}' alt=''>
              <div class='ms-1'>
                <div class='font-body-tiny'>@sunsetlens_23</div>
                <div class='font-title'>Mr & Mrs Dlamini's Wedding</div>
              </div>
            </div>
          </div>

          <div>
            <div class='d-flex align-items-center'>
              <i class='bi bi-clock'></i>
              <span class='ms-1 font-body-tiny'>12 Mar 2024</span>
            </div>
  
            <div class='ratings-container'>
              <i class='bi bi-star-fill'></i>
              <i class='bi bi-star-fill'></i>
              <i class='bi bi-star-fill'></i>
              <i class='bi bi-star-fill'></i>
              <i class='bi bi-star-fill'></i>
              <span>4.7 (128)</span>
            </div>
          </div>

        </div>

        <div class='user-info'>
          <div class='d-flex justify-content-between align-items-center'>
            <div class='d-flex'>
              <img src='{% static "invite/images/profiles/a4c31db4c6b142f890ee9f08e426cce1.jpg" %}' alt=''>
              <div class='ms-1'>
                <div class='font-body-tiny'>@momentsbynia</div>
                <div class='font-title'>Mr & Mrs Patel's Engagement</div>
              </div>
            </div>
          </div>

          <div>
            <div class='d-flex align-items-center'>
              <i class='bi bi-clock'></i>
              <span class='ms-1 font-body-tiny'>8 Jul 2023</span>
            </div>
  
            <div class='ratings-container'>
              <i class='bi bi-star-fill'></i>
              <i class='bi bi-star-fill'></i>
              <i class='bi bi-star-fill'></i>
              <i class='bi bi-star-fill'></i>
              <i class='bi bi-star-fill'></i>
              <span>4.9 (245)</span>
            </div>
          </div>

        </div>

        <div class='user-info'>
          <div class='d-flex justify-content-between align-items-center'>
            <div class='d-flex'>
              <img src='{% static "invite/images/profiles/a4c31db4c6b142f890ee9f08e426cce1.jpg" %}' alt=''>
              <div class='ms-1'>
                <div class='font-body-tiny'>@kaptureking</div>
                <div class='font-title'>Mr & Mrs Mokoena's Wedding</div>
              </div>
            </div>
          </div>

          <div>
            <div class='d-flex align-items-center'>
              <i class='bi bi-clock'></i>
              <span class='ms-1 font-body-tiny'>26 Nov 2022</span>
            </div>
  
            <div class='ratings-container'>
              <i class='bi bi-star-fill'></i>
              <i class='bi bi-star-fill'></i>
              <i class='bi bi-star-fill'></i>
              <i class='bi bi-star-fill'></i>
              <i class='bi bi-star-fill'></i>
              <span>4.6 (197)</span>
            </div>
          </div>

        </div>

        <div class='user-info'>
          <div class='d-flex justify-content-between align-items-center'>
            <div class='d-flex'>
              <img src='{% static "invite/images/profiles/a4c31db4c6b142f890ee9f08e426cce1.jpg" %}' alt=''>
              <div class='ms-1'>
                <div class='font-body-tiny'>@framebyframe_sa</div>
                <div class='font-title'>Mr & Mrs van der Merwe's Anniversary</div>
              </div>
            </div>
          </div>

          <div>
            <div class='d-flex align-items-center'>
              <i class='bi bi-clock'></i>
              <span class='ms-1 font-body-tiny'>14 Feb 2025</span>
            </div>
  
            <div class='ratings-container'>
              <i class='bi bi-star-fill'></i>
              <i class='bi bi-star-fill'></i>
              <i class='bi bi-star-fill'></i>
              <i class='bi bi-star-fill'></i>
              <i class='bi bi-star-fill'></i>
              <span>4.8 (312)</span>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<!-- Set-ExecutionPolicy Unrestricted -Scope Process -->

{% endblock %}