{% extends 'invite/layout.html' %} 

{% block body %}

<h1>You are logged in. This is the main page</h1>

<a href='{% url "invite:login" %}'>Login</a>
<a href='{% url "invite:register" %}'>Register</a>
<a href='{% url "invite:confirm_email" %}'>Confirm email</a>
<a href='{% url "invite:profile" user.username%}'>Profile</a>
<a href='{% url "invite:edit_profile" %}'>Edit Profile</a>
<a href='{% url "invite:main" %}'>Main</a>
<a href='{% url "invite:logout" %}'>Logout</a>

<!-- Set-ExecutionPolicy Unrestricted -Scope Process -->

{% endblock %}