{% extends 'invite/layout.html' %}

{% block title %} Login {% endblock %}

{% block body %}

<!-- Your code goes here -->

<section class='d-flex align-items-center flex-column'>

  <img class='rounded-circle mb-3'
    src='https://images.unsplash.com/photo-1516876902004-79f4bd1cb0dc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bG9nb3xlbnwwfDJ8MHx8&auto=format&fit=crop&w=500&q=60'
    alt='Slow connection' width='10%'>

  <form>
    <div class='mb-3'>
      <input type='email' class='form-control border border-primary' aria-describedby='emailHelp'
        placeholder='Enter Email' name='username' required>
    </div>

    <div class='mb-3'>
      <input type='password' class='form-control border border-primary' placeholder='Password' name='Passsword'
        required>
    </div>

    <div class='mb-3'>
      <input type='submit' value='login' class='btn btn-primary w-100'>
    </div>
  </form>

  <div class='text-center'>
    <a class='text-primary' href='#'>Forgot Password?</a>
  </div>

  <hr class='w-100'>

  <div>
    <button type='button' class='btn btn-success' style='width:150px;'>Register</button>
  </div>
  </form>

</section>

{% endblock %}