{% extends 'invite/main.html' %}

{% block title %} Metrics {% endblock %}

{% block main %}

<section class='metrics'>
  <h1>Metrics.</h1>
  
  <div class='d-flex'>
    <button class='btn btn-primary-outline all btn-small me-3'>All</button>
    <button class='btn btn-primary-outline seven-days btn-small me-3'>Last 7 Days</button>
    <button class='btn btn-primary today btn-small'>Today</button>
  </div>
  
  <div class='stats'>
    <div><span class='numbers waitlist-count'>-</span> People In The Waiting List.</div>
    <div><span class='numbers page-visits'>-</span> Landing Page Visits.</div>
  </div>
</section>

<script type='text/javascript'>
  
  const removeSelected = () => {
    document.querySelectorAll('button').forEach((btn) => {
      btn.classList.replace('btn-primary', 'btn-primary-outline');
    });
  };

  const getStats = async (timeframe) => {
    try {
      const response = await fetch(`/metrics/stats?timeframe=${timeframe}`);
      const { waitlist, landing_page } = await response.json();

      console.log('waiting', waitlist);
      console.log('pahe', landing_page);
      
      document.querySelector('.waitlist-count').textContent = waitlist;
      document.querySelector('.page-visits').textContent = landing_page;
      
    } catch (error) {
      console.error(error);
    }
  }
  
  document.querySelector('.seven-days').addEventListener('click', () => {
    removeSelected();
    document.querySelector('.seven-days').classList.replace('btn-primary-outline', 'btn-primary');
    getStats('seven_days');
  });
  
  document.querySelector('.today').addEventListener('click', () => {
    removeSelected();
    document.querySelector('.today').classList.replace('btn-primary-outline', 'btn-primary');
    getStats('today');
  });
  
  document.querySelector('.all').addEventListener('click', () => {
    removeSelected();
    document.querySelector('.all').classList.replace('btn-primary-outline', 'btn-primary');
    getStats('all');
  });
  
  getStats('today');
  
</script>


{% endblock %}