{% extends 'invite/layout.html' %}

{% load static %}

{% block title %} Reset Password {% endblock %}

{% block body %}

<section class='d-flex align-items-center flex-column justify-content-center form-section'>

  <div class='forms-wrapper w-100'>
    <div class='hero-section d-flex flex-column justify-content-center'>
      <div class='form-header font-headline text-center'>Your one-stop-shop for all the hottest events.</div>
      <div class='img-wrapper-login'>
        <img class='login-img' src='{% static "/invite/images/app/logo.svg" %}' alt='logo'>
      </div>
    </div>

    <div class='d-flex flex-column align-items-center form'>

      <img class='logo mb-3 rounded-circle'
        src='{% static "invite/images/app/logo.svg" %}'
        alt='This is a logo'>

      <form class='w-100'>
        {% csrf_token %}
        
        <div class='form-floating mb-3'>
          <input type='password' class='password form-control input-frame' placeholder='New Password' required>
          <label for='password' class='floating-input-placeholder'>Password</label>
          <div class='error-message feedback-empty password-empty d-none'>
            Choose a password that's unbreakable!
          </div>
          <div class='error-message password-invalid d-none'>
            That password is a little too weak.
          </div>
        </div>

        <div class='mb-3 d-none password-help form-help'>
          <div class='char'>Password must have characters between 8 and 16</div>
          <div class='upper'>Password must have at least one uppercase letter</div>
          <div class='lower'>Password must have at least one lower letter</div>
          <div class='number'>Password must have at least one number</div>
          <div class='symbol'>Password must have at least one symbol</div>
        </div>

        <div class='form-floating mb-3'>
          <input type='password' class='confirm-password form-control input-frame' placeholder='Confirm Password' required>
          <label for='confirm-password' class='floating-input-placeholder'>Confirm Password</label>
          <div class='error-message feedback-empty confirm-password-empty d-none'>
            Retype your password!
          </div>
          <div class='error-message confirm-password-invalid d-none'>
            Oops, those passwords don't seem to match up.
          </div>
        </div>

        <div class='mb-3 d-none confirm-help form-help'>
          <div class='confirm'>Password must match</div>
        </div>

        <div class='mb-3'>
          <input class='btn btn-primary w-100' type='submit' value='Continue'>
          <button class='btn btn-primary w-100 d-none' disabled>
            <span class='spinner'></span>
          </button>
        </div>
      </form>

    </div>

  </div>

</section>

<script src='{% static "invite/js/utils/forms.js" %}'></script>
<script src='{% static "invite/js/new_password.js" %}'></script>


{% endblock %}