{% extends 'invite/layout.html' %}

{% load static %}

{% block title %} Reset Password {% endblock %}

{% block body %}

<!-- Your code goes here -->
<section class='d-flex align-items-center flex-column justify-content-center'>

  <div class="d-flex flex-column align-items-center form">

    <img class='logo mb-3 rounded-circle'
      src='https://images.unsplash.com/photo-1669650853522-fe5a4b89a119?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80'
      alt='This is a logo'>

    <form class='w-100'>
      {% csrf_token %}
      
      <div class='mb-3'>
        <input type='password' class='password form-control input-frame' placeholder='New Password'>
      </div>

      <div class='mb-3 d-none password-help form-help'>
        <div class='char'>Password must have characters between 8 and 16</div>
        <div class='upper'>Password must have at least one uppercase letter</div>
        <div class='lower'>Password must have at least one lower letter</div>
        <div class='number'>Password must have at least one number</div>
        <div class='symbol'>Password must have at least one symbol</div>
      </div>

      <div class='mb-3'>
        <input type='password' class='confirm-password form-control input-frame' placeholder='Confirm Password'>
      </div>

      <div class='mb-3 d-none confirm-help form-help'>
        <div class='confirm'>Password must match</div>
      </div>

      <div class='mb-3 error-message'></div>

      <div class='mb-3'>
        <input class='btn btn-primary w-100' type='submit' value='Continue'>
      </div>
    </form>

  </div>

</section>

<script src='{% static "invite/js/utils/forms.js" %}'></script>
<script src='{% static "invite/js/new_password.js" %}'></script>


{% endblock %}