{% extends 'invite/main.html' %}

{% load static %}

{% block head %}
<script src='https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.css' rel='stylesheet' />
{% endblock %}

{% block title %} New Event {% endblock %}

{% block main %}

<section class='new-event'>
  <div class='header mb-3 d-flex align-items-center'>
    <img src='{% static "invite/images/app/logo.svg" %}' alt='logo' class='logo'/>
    <div class='font-headline ms-2'>Add New Event</div>
  </div>

  <div class='main-content'>
    <form class='new-event-form' action='/post' method='post' enctype='multipart/form-data'> 
      {% csrf_token %}

      <div class='form-floating mb-3'>
        <input class='title form-control input-frame' name='title' type='text' placeholder='Event Title'>
        <label for='title' class='floating-input-placeholder'>Event Title</label>
        <div class='error-message feedback-empty title-empty d-none'>
          Please choose a relevant title for your event.
        </div>
      </div>

      <div class='form-floating mb-3'>
        <textarea class='description-input form-control input-frame' name='description' placeholder='Short Description' style='height: 250px'></textarea>
        <div class='d-flex justify-content-between align-items-center'>
          <div class='for-flex-structure'></div>
          <div class='description-help-generator d-none link'>Need some ideas?</div>
          <div class='text-end'><span class='text-description-count'>0</span>/500</div>
        </div>
        <label for='description' class='floating-input-placeholder'>Short Description</label>
        <div class='error-message feedback-empty description-empty d-none'>
          Provide a brief description of your event within 100-500 characters.
        </div>
      </div>

      <div class='mb-3 tags-container'></div>

      <div class='mb-3'>
        <div>Write keywords related to your event (Min is 3)</div>
        <div class='form-floating'>
          <input type='text' name='tags' class='tags form-control input-frame' placeholder='Tags (ex. "wedding", "fun", "party")'>
          <label for='tags' class='floating-input-placeholder'>Tags (ex. 'wedding', 'fun', 'party')</label>
        </div>

        <div class='error-message feedback-empty tags-invalid d-none'>
          You can only add between 3 and 5 tags.
        </div>
      </div>

      <div class='mb-3'>
        <label for='image'>Event Cover (Optional)</label>
        <input type='file' class='form-control input-frame' accept='.png, .jpg, .jpeg' name='image' title='Image (Optional)' id='file-input'>
        <input type='hidden' name='x' id='x-axis' class='x input-frame'>
        <input type='hidden' name='y' id='y-axis' class='y input-frame'>
        <input type='hidden' name='width' id='width' class='width input-frame'>
        <input type='hidden' name='height' id='height' class='height input-frame'>
      </div>

      <div class='result mb-3'></div>
      
      <div class='mb-3'>
        <input type='text' class='location-input form-control input-frame' id='location-input' name='location' placeholder='Select location' readonly>
        <div class='error-message feedback-empty location-empty d-none'>
          Don't forget to include the location of your event.
        </div>
      </div>

      <div class='mb-3' id='map'></div>

      <div class='mb-3'>
        <label for='datetime'>When is your event starting?</label>
        <input class='datetime form-control input-frame' name='datetime' type='datetime-local' placeholder='Time'>
        <div class='error-message feedback-empty datetime-empty d-none'>
          Please provide the starting date and time of your event.
        </div>
      </div>

      <div class='mb-3'>
        <label for='datetime-ending'>When is your event ending? (Estimate)</label>
        <input class='datetime-ending form-control input-frame' name='datetime-ending' type='datetime-local' placeholder='Time'>
        <div class='error-message feedback-empty datetime-ending-empty d-none'>
          Please provide the ending date and time of your event.
        </div>
      </div>

      <div class='mb-3'>
        <div class='d-flex align-items-center'>
          <div class='w-50 d-flex align-items-center'>
            <input name='event-type' type='radio' value='private'>
            <label class='ms-1' for='private'>Private</label>
          </div>
  
          <div class='w-50 d-flex align-items-center'>
            <input name='event-type' type='radio' value='public'>
            <label class='ms-1' for='public'>Public</label>
          </div>
        </div>
        
        <div class='error-message feedback-empty event-type-empty d-none'>
          Select one of the available options.
        </div>
      </div>

      <div class='mb-3'>
        <div class='d-flex align-items-center'>
          <div class='w-50 d-flex align-items-center'>
            <input name='access' class='no-access-input' type='radio' value='no-access'>
            <label class='ms-1' for='no-access'>Without QR Code</label>
          </div>
  
          <div class='w-50 d-flex align-items-center'>
            <input name='access' class='access-input' type='radio' value='with-access'>
            <label class='ms-1' for='with-access'>With QR Code</label>
          </div>
        </div>
        
        <div class='error-message feedback-empty access-empty d-none'>
          Select one of the available options.
        </div>
      </div>

      <div class='mb-3'>
        <div class='paid-options'>
          <div class='mb-3'>
            <label for='datetime-ending'>Last day to purchase tickets (Optional)</label>
            <input class='ticket-deadline form-control input-frame' name='ticket-deadline' type='datetime-local'>
          </div>

          <div class='form-floating mb-3'>
            <input type='number' name='limit' class='attendees-limit form-control input-frame' placeholder='Attendees Limit (Optional)'>
            <label for='limit' class='floating-input-placeholder'>Attendees Limit (Optional)</label>
          </div>
  
          <div>
            <div class='d-flex align-items-center'>
              <div class='w-50 d-flex align-items-center'>
                <input name='paid-options' type='radio' class='free-option' value='free'>
                <label class='ms-1' for='free'>Free Access</label>
              </div>
      
              <div class='w-50 d-flex align-items-center'>
                <input name='paid-options' type='radio' class='paid-option' value='paid'>
                <label class='ms-1' for='paid'>Paid Access</label>
              </div>
            </div>
          </div>
        </div>
        
        <div class='error-message feedback-empty paid-options-empty d-none'>
          Select one of the available options.
        </div>
      </div>

      <div class='mb-3'>
        <div class='paid-access-view'>
          <div class='amount-container mb-3'>
            <div class='currency w-25'>R</div>
            <div class='form-floating w-75'>
              <input type='number' class='amount form-control input-frame' placeholder='Amount in Rands (ex. R25.50)'>
              <label for='amount' class='floating-input-placeholder'>Amount in Rands (ex. R25)</label>
            </div>
          </div>

          <div>
            <label for='payment-options'>When would you like to be paid?</label>
            <div class='d-flex align-items-center mb-1'>
              <div class='w-50 d-flex align-items-center'>
                <input name='payment-options' class='paid-immediate' type='radio' value='immediate'>
                <label class='ms-1' for='immediate'>Immediately</label>
              </div>
      
              <div class='w-50 d-flex align-items-center'>
                <input name='payment-options' class='paid-later' type='radio' value='later'>
                <label class='ms-1' for='later'>Day of the event</label>
              </div>
            </div>
          </div>
        </div>

        <div class='immediate-option-selected mb-1'>
          <div>Service Fee: 4% / Ticket Sale</div>
          <div>Bank Charges: 2%</div>
          <div>You will make:<span class='immediate-sale-value ms-1 me-1'>X</span>per ticket sale.</div> 
        </div>

        <div class='later-option-selected mb-1'>
          <div>Service Fee: 2,9% / Ticket Sale</div>
          <div>Bank Charges: 2%</div>
          <div>You will make:<span class='later-sale-value ms-1 me-1'>X</span>per ticket sale.</div>
        </div>
  
        <div class='error-message feedback-empty amount-invalid d-none'>
          The price of a ticket must be bigger than 0.
        </div>

        <div class='error-message feedback-empty payment-options-empty d-none'>
          Select one of the available options.
        </div>
      </div>

      <div class='buttons-container d-flex justify-content-between align-items-center'>
        <div class='w-50'>
          <button type='submit' class='btn btn-primary-outline no-immediate-load submit-button w-100'>
            Add More Info
          </button>
        </div>

        <div class='w-50'>
          <input type='submit' value='Publish' class='btn btn-primary w-100 publish'>
        </div>
      </div>

    </form>
  </div>
</section>

<script src='{% static "invite/js/utils/forms.js" %}'></script>
<script src='{% static "invite/js/newEvent.js" %}'></script>

{% endblock %}