<!DOCTYPE html>
<html>
<body> 
<style>
    button{ 
        float: right; 
        } 
</style>        
<form action="x.php">
    <div class="lol">
        <h1><a href="#"><img src="notifications.841x1024 (1).png" width="22" height="25"></a>  Noticiations</h1>
        <h3>Today</h3>
        <hr>   
        <p><img src="dog.jfif" width="65" height="65" style="float: left; border-radius: 50%;">&ensp; <b>@ baz</b><button>accept</button></p>
        <p>&ensp; sent you a friend request</p>
        <hr>
        <p><img src="dog.jfif" width="65" height="65" style="float: left; border-radius: 50%;">&ensp; <b>@ baz</b><button>accept</button></p>
        <p>&ensp; sent you a friend request</p>
        <hr>        
        <p><img src="dog.jfif" width="65" height="65" style="float: left; border-radius: 50%;">&ensp; <b>@ baz</b><button>accept</button></p>
        <p>&ensp; sent you a friend request</p>
        <hr>
        <br>
        <h3>This Week</h3>
        <hr>
        <p><img src="dog.jfif" width="65" height="65" style="float: left; border-radius: 50%;">&ensp; <b>@ baz</b><button>Follow</button></p>
        <p>&ensp; started following you</p>
        <hr>
        <p><img src="dog.jfif" width="65" height="65" style="float: left; border-radius: 50%;">&ensp; <b>@ baz</b><button>Follow</button></p>
        <p>&ensp; started following you</p>
        <hr>        
    <div class="lol2">
        <p>
            <a href="#"><img src="home-outline.922x1024.png" width="40" height="40" style="padding-right: 2em"></a>
            <a href="#"><img src="search-outline.1024x1024.png" width="40" height="40" style="padding-right: 2em"></a>
            <a href="#"><img src="person-add-outline.1024x970.png" width="45" height="40" style="padding-right: 2em"></a> 
            <a href="#"><img src="bookmark-outline.803x1024.png" width="30" height="40" style="padding-right: 2em"></a> 
            <a href="#"><img src="account-circle.1024x1024.png" width="47" height="47" style="padding-right: 2em"></a> 
            
        </p> 
    </div>    
        
</form>
        

</body>
</html> 
