{% extends 'invite/layout.html' %}

{% block title %} Notifications {% endblock %}

{% block body %}

<!-- Your code goes here -->
<section class='nmain'>
    
    <div class='mb-3'>
        <div class="border-bottom border-dark pb-2 ntitle">Today</div>

        <div class="d-flex justify-content-between align-items-center py-2 border-dark ncard">
            <div class='d-flex'>
                <img class='rounded-circle nimg' src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fHBlcnNvbnxlbnwwfDJ8MHx8&auto=format&fit=crop&w=500&q=60" alt="profile pic">
                <div class='ps-2'>
                    <span class="nname">@bar</span><br>
                    <p class="naction">sent you a friend request</p>
                </div>
            </div>
            <div class="nbutton">
                <button class="nbtn btn btn-primary">Accept</button>
            </div>
        </div>
    
        <div class="d-flex justify-content-between align-items-center py-2 border-dark ncard">
            <div class='d-flex'>
                <img class='rounded-circle nimg' src="https://images.unsplash.com/photo-1534184241306-2d7eb0ddbbde?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjN8fHBlcnNvbnxlbnwwfDJ8MHx8&auto=format&fit=crop&w=500&q=60" alt="profile pic">
                <div class='ps-2'>
                    <span class="nname">@alien</span><br>
                    <p class="naction">accepted your friend request</p>
                </div>
            </div>
            <div>
            </div>
        </div>
    
        <div class="d-flex justify-content-between align-items-center py-2 border-dark ncard">
            <div class='d-flex'>
                <img class='rounded-circle nimg' src=https://images.unsplash.com/photo-1534330786040-317bdb76ccff?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=617&q=80" alt="profile pic">
                <div class='ps-2'>
                    <span class="nname">@calien</span><br>
                    <p class="naction">shared your event</p>
                </div>
            </div>
            <div>
                <button class="nbtn btn btn-primary">View</button>
            </div>
        </div>
    
        <div class="d-flex justify-content-between align-items-center py-2 border-dark ncard">
            <div class='d-flex'>
                <img class='rounded-circle nimg' src="https://images.unsplash.com/photo-1523983254932-c7e6571c9d60?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzB8fHBlcnNvbnxlbnwwfDJ8MHx8&auto=format&fit=crop&w=500&q=60" alt="profile pic">
                <div class='ps-2'>
                    <span class="nname">@thesaradoe</span><br>
                    <p class="naction">and 46 others got access to your event</p>
                </div>
            </div>
            <div>
                <button class="nbtn btn btn-primary">View</button>
            </div>
        </div>
    </div>

    <div class='mb-3'>
        <div class="border-bottom border-dark pb-2 ntitle">This Week</div>

        <div class="d-flex justify-content-between align-items-center py-2 border-dark ncard">
            <div class='d-flex'>
                <img class='rounded-circle nimg' src="https://images.unsplash.com/photo-1542328025-50d8b06fc769?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTExfHxwZXJzb258ZW58MHwyfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="profile pic">
                <div class='ps-2'>
                    <span class="nname">@foo</span><br>
                    <p class="naction">started following you</p>
                </div>
            </div>
            <div>
                <button class="nbtn btn btn-primary">Follow</button>
            </div>
        </div>
    
        <div class="d-flex justify-content-between align-items-center py-2 border-dark ncard">
            <div class='d-flex'>
                <img class='rounded-circle nimg' src="https://images.unsplash.com/photo-1523478016374-2a27cc521718?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8ODB8fHBlcnNvbnxlbnwwfDJ8MHx8&auto=format&fit=crop&w=500&q=60" alt="profile pic">
                <div class='ps-2'>
                    <span class="nname">@user55446</span><br>
                    <p class="naction">started following you</p>     
                </div>
            </div>
            <div>
                <button class="nbtn btn btn-primary-outline">Following</button>
            </div>
        </div>
    </div>

    
</section>

{% endblock %}