{% extends 'invite/layout.html' %}

{% block title %} Profile {% endblock %}

{% block body %}

<div class='main'>
    <div class='profile'><img src='https://tse1.mm.bing.net/th?id=OIP.EXDdv-be-MK-7zIQrr59xwHaEo&pid=Api&P=0'></div>
    <div class='details'>
        <div class='followers'>
            <h2>415K</h2>
            <p>followers</p>
        </div>
        <div class='following'>
            <h2>18</h2>
            <p>following</p>
        </div>
        <div class='friends'>
            <h2>25</h2>
            <p>friends</p>
        </div>
    </div>
    <div class='info'>
        <div class='name'>
            <h2>Emma Watson</h2>
            <p>Queen of the web</p>
        </div>
        <div class='rating'>
            <div class='star-icon'>
                <input type='radio' name='rating1' id='rating1'>
                <label for='rating1' class='star'>&#9733;</label>
                <input type='radio' name='rating2' id='rating2'>
                <label for='rating2' class='star'>&#9733;</label>
                <input type='radio' name='rating3' id='rating3'>
                <label for='rating3' class='star'>&#9733;</label>
                <input type='radio' name='rating4' id='rating4'>
                <label for='rating4' class='star'>&#9733;</label>
                <input type='radio' name='rating5' id='rating5'>
                <label for='rating5' class='star'>&#9733;</label>
            </div><br>
        </div>
        <div class='button'>
            <button>Edit Profile</button>
            <button>Friend's List</button>
        </div>
        <div class='Evnets'>
            <h2>EVENTS (47)</h2>
            <div class='event1'>
                <hr>
                <img src='https://tse2.mm.bing.net/th?id=OIP.U8KQimQkVNUTTJU_QjlPFQHaEo&pid=Api&P=0' height='150px'>
                <h3>My 21st birthday party</h3>
                <p>Hey guys I am happy to share....the text related to event</p>
                <small>&#128338; 05 Jun 2025,8:30</small>
            </div>
            <div class='event2'>
                <hr>
                <img src='https://tse2.mm.bing.net/th?id=OIP.xIKx6KnCCTCOG6f_emeO4wHaJl&pid=Api&P=0' height='150px'>
                <h3>Soccer Tournament</h3>
                <p>Hey guys I am happy to share....the text related to event</p>
                <small>&#128338; 26 Feb 2025,21:45</small>
            </div>
        </div>
        <div class='symbols'>
            <!--These are the symbols for home,search,add friends,save,my profile which might not match with the name so here is the prerequisite-->
            <h1>&#9750; &#9900; &#9786; &#9836; &#9787; </h1>
        </div>
    </div>
</div>

{% endblock %}
