{% extends 'invite/layout.html' %}

{% load static %}

{% block title %} Register {% endblock %}

{% block body %}

<section class='form-section'>

  <div class='forms-wrapper'>
    <div class='hero-section'>
      <div class='form-header font-headline text-center'>Discover the most <span class='events-description'>exciting</span> events near you.</div>
      <div class='img-wrapper'>
        <img class='skeleton' loading='lazy' src='https://ik.imagekit.io/2ajtfwyor/Ximba/party_kord2yA6g.jpg' alt='Picture by Logan Weaver'>
        <img class='skeleton' loading='lazy' src='https://ik.imagekit.io/2ajtfwyor/Ximba/wedding_PD4HRqtg5.jpg' alt='Picture by Leonardo Miranda'>
        <img class='skeleton' loading='lazy' src='https://ik.imagekit.io/2ajtfwyor/Ximba/event_3JI5GaEng.jpg' alt='Kelsey Chance'>
      </div>
    </div>

    <div class='d-flex align-items-center flex-column form'>
      <img class='logo rounded-circle'
        src='{% static "invite/images/app/logo.png" %}'
        alt='Profile Pic'>
  
      <form class='w-100'>
  
        {% csrf_token %}
  
        <div class='mb-3'>
          <div class='row'>
            <div class='form-floating col-6'>
              <input type='text' name='firstname' class='firstname form-control input-frame' placeholder='First Name' required>
             <label for='firstname' style='margin-left: 12px;' class='floating-input-placeholder'>First Name</label>
            </div>
    
            <div class='form-floating col-6'>
              <input type='text' name='lastname' class='lastname form-control input-frame' placeholder='Last Name' required>
              <label for='lastname' style='margin-left: 12px;' class='floating-input-placeholder'>Last Name</label>
            </div>
          </div>
          <div class='error-message feedback-empty names-empty d-none'>
            Don't be shy, tell us your full name!
          </div>
        </div>

  
        <div class='form-floating mb-3'>
          <input type='text' name='username' class='username form-control input-frame' placeholder='Username' required>
          <label for='username' class='floating-input-placeholder'>Username</label>
          <div class='error-message feedback-empty username-empty d-none'>
            Pick a username that represent you!
          </div>
          <div class='error-message feedback-empty username-taken d-none'>
            Username is taken! Please try another one.
          </div>
        </div>

  
        <div class='mb-3 d-none username-help form-help'>
          <div class='user-count'>Username must have a characters between 3 and 16</div>
          <div class='user'>Username must only contain lowercases and numbers</div>
        </div>
  
        <div class='form-floating mb-3'>
          <input type='email' name='email' class='email form-control input-frame' placeholder='Email' required>
          <label for='email' class='floating-input-placeholder'>Email</label>
          <div class='error-message feedback-empty email-empty d-none'>
            Which email should we use?
          </div>
          <div class='error-message feedback-empty email-taken d-none'>
            Email is already registered! Try logging in.
          </div>
        </div>

        <div class='form-floating mb-3'>
          <input type='password' name='password' class='password form-control input-frame' placeholder='Password' required>
          <label for='password' class='floating-input-placeholder'>Password</label>
          <div class='error-message feedback-empty password-empty d-none'>
            Choose a password that's unbreakable!
          </div>
          <div class='error-message password-invalid d-none'>
            That password is a little too weak.
          </div>
        </div>
  
        <div class='mb-3 d-none password-help form-help'>
          <div class='char'>Password must have characters between 8 and 16</div>
          <div class='upper'>Password must have at least one uppercase letter</div>
          <div class='lower'>Password must have at least one lower letter</div>
          <div class='number'>Password must have at least one number</div>
          <div class='symbol'>Password must have at least one symbol</div>
        </div>
  
        <div class='form-floating mb-3'>
          <input type='password' name='confirm-password' class='confirm-password form-control input-frame' placeholder='Confirm Password' required>
          <label for='confirm-password' class='floating-input-placeholder'>Confirm Password</label>
          <div class='error-message feedback-empty confirm-password-empty d-none'>
            Retype your password!
          </div>
          <div class='error-message confirm-password-invalid d-none'>
            Oops, those passwords don't seem to match up.
          </div>
        </div>

  
        <div class='mb-3 d-none confirm-help form-help'>
          <div class='confirm'>Password must match</div>
        </div>
  
        <div class='mb-3 error-message'></div>
  
        <div>
          <input type='submit' value='Register' class='btn btn-primary form-control w-100 attractive'>
          <button class='btn btn-primary w-100 d-none' disabled>
            <span class='spinner'></span>
          </button>
        </div>
  
      </form>
  
      <hr class='w-100'>
  
      <a type='button' class='btn btn-secondary w-50' href='{% url "invite:login" %}'>Login</a>
    </div>
  </div>
</section>

<script src='{% static "invite/js/utils/forms.js" %}'></script>
<script src='{% static "invite/js/register.js" %}'></script>

{% endblock %}