{% extends 'invite/layout.html' %}

{% load static %}

{% block title %} Register {% endblock %}

{% block body %}

<section class='align-items-center d-flex flex-column justify-content-center'>

  <div class='d-flex align-items-center flex-column form'>
    <img class='logo rounded-circle'
      src='{% static "invite/images/app/logo.png" %}'
      alt='Profile Pic'>

    <form class='w-100'>

      {% csrf_token %}

      <div class='row mb-3'>
        <div class='col-6'>
          <input type='text' name='firstname' class='firstname form-control input-frame' placeholder='First Name' required>
        </div>

        <div class='col-6'>
          <input type='text' name='lastname' class='lastname form-control input-frame' placeholder='Last Name' required>
        </div>
      </div>

      <div class='mb-3'>
        <input type='text' name='username' class='username form-control input-frame' placeholder='Username' required>
      </div>

      <div class='mb-3 d-none username-help form-help'>
        <div class='user-count'>Username must have a characters between 3 and 16</div>
        <div class='user'>Username must only contain lowercases and numbers</div>
      </div>

      <div class='mb-3'>
        <input type='email' name='email' class='email form-control input-frame' placeholder='Email' required>
      </div>

      <div class='mb-3'>
        <input type='password' name='password' class='password form-control input-frame' placeholder='Password' required>
      </div>

      <div class='mb-3 d-none password-help form-help'>
        <div class='char'>Password must have characters between 8 and 16</div>
        <div class='upper'>Password must have at least one uppercase letter</div>
        <div class='lower'>Password must have at least one lower letter</div>
        <div class='number'>Password must have at least one number</div>
        <div class='symbol'>Password must have at least one symbol</div>
      </div>

      <div class='mb-3'>
        <input type='password' name='confirm-password' class='confirm-password form-control input-frame' placeholder='Confirm Password' required>
      </div>

      <div class='mb-3 d-none confirm-help form-help'>
        <div class='confirm'>Password must match</div>
      </div>

      <div class='mb-3 error-message'></div>

      <div>
        <input type='submit' value='Register' class='btn btn-primary form-control w-100'>
      </div>

    </form>

    <hr class='w-100'>

    <a type='button' class='btn btn-secondary w-50' href='{% url "invite:login" %}'>Login</a>
  </div>

</section>

<script src='{% static "invite/js/utils/forms.js" %}'></script>
<script src='{% static "invite/js/register.js" %}'></script>

{% endblock %}