{% extends 'invite/layout.html' %}

{% block title %} Reset Password {% endblock %}

{% block body %}

<!-- Your code goes here -->
<section class='d-flex align-items-center flex-column justify-content-center'>

  <div class='d-flex flex-column align-items-center justify-content-center form'>

    <img class='logo mb-3 rounded-circle'
      src='https://images.unsplash.com/profile-1633364056312-0319b9fc4586image?dpr=1&auto=format&fit=crop&w=150&h=150&q=60&crop=faces&bg=fff'
      alt='Profile Pic'>

    <form class='w-100'>
      <div class='mb-3'>
        <input type='email' class='form-control input-frame' placeholder='Email' required>
      </div>

      <div class='mb-3'>
        <input class='btn btn-primary w-100' type='submit' value='Reset Password'>
      </div>

      <hr class='w-100'>
    </form>

    <a class='btn btn-secondary w-50' type='button' href='{% url "invite:login" %}'>Login</a>

  </div>


</section>

{% endblock %}