{% extends 'invite/layout.html' %}

{% block title %} Reset Password {% endblock %}

{% block body %}

<h1>This is a reset password page</h1>

<!-- Your code goes here -->
<div class='vh-100 d-flex justify-content-center align-items-center'>
    <div class='col-md-5 p-5 shadow-sm'>
        <form>
            <div class='mb-3'>
                <input type='email' class='form-control border border-primary' id'exampleInputEmail1' aria-describedby='emailHelp' placeholder='Email'>
             </div>
             <div class='d-grid'>
                 <button class='btn btn-primary' type='submit'>Reset Password</button>
              </div>
              <hr>
              <div class='d-grid'>
                 <div class='text-center'>
                    <button class='btn btn-success' type='button' style='width:150px;'>Login</button>
                 </div>
               </div>
          </form>
     </div>
</div>

<a href='{% url "invite:new_password" %}'>New Password Page</a>
{% endblock %}
