{% extends 'invite/layout.html' %}

{% load static %}

{% block title %} Reset Password {% endblock %}

{% block body %}

<!-- Your code goes here -->
<section class='d-flex align-items-center flex-column justify-content-center form-section'>

  <div class='d-flex flex-column align-items-center justify-content-center form'>

    <img class='logo mb-3 rounded-circle'
      src='{% static "invite/images/app/logo.png" %}'
      alt='Profile Pic'>

    <form class='w-100'>
      {% csrf_token %}
      <div class='mb-3'>
        <input type='email' class='email form-control input-frame' placeholder='Email' required>
      </div>

      <div class='mb-3 error-message'></div>

      <div class='mb-3'>
        <input class='btn btn-primary w-100' type='submit' value='Reset Password'>
        <button class='btn btn-primary w-100 d-none' disabled>
          <span class='spinner'></span>
        </button>
      </div>

      <hr class='w-100'>
    </form>

    <a class='btn btn-secondary w-50' type='button' href='{% url "invite:login" %}'>Login</a>

  </div>

</section>

<script src='{% static "invite/js/utils/forms.js" %}'></script>
<script src='{% static "invite/js/reset_password.js" %}'></script>

{% endblock %}