{% extends 'invite/layout.html' %}

{% block title %} Saved Events {% endblock %}

{% block body %}
	<section class='saved'>
		<h1><i class='fa-regular fa-bookmark'></i> Saved</h1>
		<div class='saved-content'>
			<div class='event'>
				<div class='info'>
					<img
						src='https://images.unsplash.com/photo-1464349153735-7db50ed83c84?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8YmlydGhkYXl8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60'
						width='100px' height='100px' alt='A Cake' />
					<h1 class='event-name'>My 21st birthday</h1>
					<p class='date'><i class='fa-regular fa-clock'></i> 26 Feb 2024, 20:30</p>
				</div>
				<div class='access'>
					<button>Access</button>
					<span class='delete'><i class='fa-solid fa-xmark'></i></span>
				</div>
			</div>
			<hr>
			<div class='event'>
				<div class='info'>
					<img
						src='https://images.unsplash.com/photo-1606800052052-a08af7148866?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fHdlZGRpbmd8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60'
						width='100px' height='100px' alt='Rings' />
					<h1 class='event-name'>Wedding</h1>
					<p class='date'><i class='fa-regular fa-clock'></i> 26 Feb 2024, 20:30</p>
				</div>
				<div class='access'>
					<span class='delete'><i class='fa-solid fa-xmark'></i></span>
				</div>
			</div>
			<hr>
			<div class='event'>
				<div class='info'>
					<img
						src='https://images.unsplash.com/photo-1501432377862-3d0432b87a14?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8bWFydmVsfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60'
						width='100px' height='100px' alt='' />
					<h1 class='event-name'>Avenger: Secret Wars</h1>
					<p class='date'><i class='fa-regular fa-clock'></i> 26 Feb 2024, 20:30</p>
				</div>
				<div class='access'>
					<button>Access</button>
					<span class='delete'><i class='fa-solid fa-xmark'></i></span>
				</div>
			</div>
			<hr>
			<div class='event'>
				<div class='info'>
					<img
						src='https://images.unsplash.com/photo-1505483531331-fc3cf89fd382?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzN8fGZyaWVuZHN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60'
						width='100px' height='100px' alt='' />
					<h1 class='event-name'>Hide and Seek with friends</h1>
					<p class='date'><i class='fa-regular fa-clock'></i> 26 Feb 2024, 20:30</p>
				</div>
				<div class='access'>
					<button>Access</button>
					<span class='delete'><i class='fa-solid fa-xmark'></i></span>
				</div>
			</div>
			<hr>
		</div>
	</section>
	<script src='https://kit.fontawesome.com/0d461e2d79.js' crossorigin='anonymous'></script>

{% endblock %}
