{% extends 'invite/layout.html' %}

{% block title %} Saved Events {% endblock %}

{% block body %}

<section>
  <div class='content'>
    <h1 class='main-heading'><i class='fa-solid fa-bookmark'></i> Saved</h1>
    <div class='d-flex justify-content-between align-items-center pb-2 mb-3 border-bottom border-dark'>
      <div>
        <div class='d-flex align-items-center'>
          <im'
            src='https://images.unsplash.com/photo-1530433331547-e064ffe8eef1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80'
            width='15%' alt='A Cake' />
          <div class='ms-2'>My 21st birthday</div>
        </div>
        <div class='d-flex align-items-center mt-2'>
          <i class='fa-regular fa-clock'></i>
          <div class='ms-2'>26 Feb 2024, 20:30</div>
        </div>
      </div>

      <div class='close'>
        <button type='button' class='btn btn-primary me-3'>Access</button>
        <i class='fa-solid fa-xmark'></i>
      </div>
    </div>

    <div class='d-flex justify-content-between align-items-center pb-2 mb-3 border-bottom border-dark'>
      <div>
        <div class='d-flex align-items-center'>
          <img
            src='https://images.unsplash.com/photo-1606925797300-0b35e9d1794e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=581&q=80'
            width='15%' alt='A Cake' />
          <div class='ms-2'>Soccer Tournament</div>
        </div>
        <div class='d-flex align-items-center mt-2'>
          <i class='fa-regular fa-clock'></i>
          <div class='ms-2'>26 Feb 2024, 21:45</div>
        </div>
      </div>

      <div class='close'>
        <button type='button' class='btn btn-primary me-3'>Access</button>
        <i class='fa-solid fa-xmark'></i>
      </div>
    </div>

    <div class='d-flex justify-content-between align-items-center pb-2 mb-3 border-bottom border-dark'>
      <div>
        <div class='d-flex align-items-center'>
          <img
            src='https://images.unsplash.com/photo-1487530811176-3780de880c2d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80'
            width='15%' alt='A Cake' />
          <div class='ms-2'>Wedding</div>
        </div>
        <div class='d-flex align-items-center mt-2'>
          <i class='fa-regular fa-clock'></i>
          <div class='ms-2'>05 Jun 2024, 08:30</div>
        </div>
      </div>

      <div>
        <i class='fa-solid fa-xmark'></i>
      </div>
    </div>

    <div class='d-flex justify-content-between align-items-center pb-2 mb-3 border-bottom border-dark'>
      <div>
        <div class='d-flex align-items-center'>
          <img
            src='https://images.unsplash.com/photo-1559425309-bf0018a09d01?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fGNoaWxkcmVuJTIwcGxheWluZ3xlbnwwfDJ8MHx8&auto=format&fit=crop&w=500&q=60'
            width='15%' alt='A Cake' />
          <div class='ms-2'>Hide and Seek with Friends</div>
        </div>
        <div class='d-flex align-items-center mt-2'>
          <i class='fa-regular fa-clock'></i>
          <div class='ms-2'>Tomorrow, 12:30</div>
        </div>
      </div>

      <div>
        <i class='fa-solid fa-xmark'></i>
      </div>
    </div>

    <div class='d-flex justify-content-between align-items-center pb-2 mb-3 border-bottom border-dark'>
      <div>
        <div class='d-flex align-items-center'>
          <img
            src='https://images.unsplash.com/photo-1608889175123-8ee362201f81?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YXZlbmdlcnN8ZW58MHwyfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60'
            width='15%' alt='A Cake' />
          <div class='ms-2'>Avengers: Secret Wars</div>
        </div>
        <div class='d-flex align-items-center mt-2'>
          <i class='fa-regular fa-clock'></i>
          <div class='ms-2'>11 Nov 2024, 19:45</div>
        </div>
      </div>

      <div class='close'>
        <button type='button' class='btn btn-primary me-3'>Access</button>
        <i class='fa-solid fa-xmark'></i>
      </div>
    </div>
  </div>
  <div class='bottom-menu'>
    <ul>
      <!-- Home  -->
      <li><a><i class='fa-solid fa-house'></i></a></li>
      <!-- Search  -->
      <li><a><i class='fa-solid fa-magnifying-glass'></i></a></li>
      <!-- Add Friend  -->
      <li><a><i class='fa-solid fa-user-plus'></i></a></li>
      <!-- Saved  -->
      <li><a><i class='fa-solid fa-bookmark'></i></a></li>
      <!-- Profile  -->
      <li><a><i class='fa-regular fa-user'></i></a></li>

    </ul>
  </div>

</section>
<script src='https://kit.fontawesome.com/0d461e2d79.js' crossorigin='anonymous'></script>

</body>

{% endblock %}