{% extends 'invite/layout.html' %}

{% block title %} Profile {% endblock %}

{% block body %}

<!-- Your code goes here -->
    <h3>@Baz</h3>
    <h4>Baz Bar</h4>
    <img src='static/sergey-sokolov-CWFpNqjp_S4-unsplash-modified.png' height='100px'>
    <a href='#'><img src='static/x-letter.svg' height='15px' align='right'></a>
    <hr>
    <h3>@Foo</h3>
    <h4>Foo Bar</h4>
    <img src='static/nate-holland--T1wqSbUtrk-unsplash-modified.png' height='100px'>
    <a href='#'><img src='static/x-letter.svg' height='15px' align='right'></a>
    <br>
    <hr>

<form action='' method='GET'>
    <input  type='text' placeholder='Search'>
</form>

{% endblock %}
