{% extends 'inviet/layout.html' %}

{% block title %} Settings {% endblock %}

{% block body %}

<!-- Your code goes here -->
<section>
    <!-- Setting -->
    <div><h1><strong> <i class="fa-solid fa-gear"></i> Setting </strong></h1></div> <hr>
    <!-- Edit-profile -->
    <div><strong> <i class="fa-solid fa-user-pen"></i> Edit profile</strong></div> <hr>
    <!-- notification  -->
    <div><strong> <i class="fa-regular fa-bell"></i> Notification</strong></div> <hr>
    <!-- privacy policy -->
    <div><strong> <i class="fa-regular fa-eye"></i> Privacy Policy</strong></div> <hr>
    <!-- report an issue -->
    <div><strong> <i class="fa-solid fa-circle-info"></i> Report an Issue</strong></div> <hr>
    <!-- reset password -->
    <div><strong> <i class="fa-solid fa-lock"></i> Reset Password</strong></div> <hr>
    <script src='https://kit.fontawesome.com/0d461e2d79.js' crossorigin='anonymous'></script>
</section>    

{% endblock %}