.error-message {
  color: var(--error-message-color);
}

.form {
  align-items: center;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  
  @include for-tablets {
    border-radius: $border-radius;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.15);
    padding: 20px;
    width: 50%;
  }

  @include for-desktops {
    width: 35%;
  }

  img {
    @include for-tablets {
      display: none;
    }
  }
}

.form-help {
  @include body;

  @include for-tablets {
    @include body-tiny;
  }
}

section.form-section {
  // align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  @include for-desktops {
    padding: 0 100px;
  }

  .hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    // background-color: yellow;
    width: 50%;
    height: 100%;

    .img-wrapper {
      display: flex;
      justify-content: center;

      img {
        border-radius: $border-radius;
        height: auto;
        width: 33.33%;
      }

      img:first-child {
        transform: translateX(50px);
      }

      img:nth-child(2) {
        transform: translateY(-50px);
      }

      img:nth-child(2):hover {
        transform: scale(5);
        transform: translateY(-30px);
        z-index: 9999;
      }

      img:last-child {
        transform: translate(-50px, 30px);
      }
    }
  }
}