//GENERAL

.nmain{
    background-color: rgb(249, 249, 249);
    box-shadow: 2px 2px 5px 3px rgb(198, 198, 198);
    border-radius: 1%;
    .ntitle{
        font-weight: bold;
        font-size: 18px;
        margin-left: 1em;
        margin-top: 1em;
    }
    .ncard{
        border-bottom: 1px solid black;
        border-radius: 5%;
        .nname{
            margin-left: 5%;
            line-height: 20px;
            font-weight: bold;
        }
        .naction{
            color: rgb(98, 98, 98);
            margin-left: 1em;
        }
    }

}

//DESKTOP

@include for-desktops{
    .nmain{
        width: 40%;
        margin-left: 30%;
    }

}

//MOBILE
@media only screen and (max-width: 599px){
    .mainsearch{
        width: 100%;
        margin-left: 0px;
        .nimg{
            width: 10px !important;
            height:10px !important;
        }
    }
}

//TABLET

@include for-tablets{
    .nmain{
        width: 60%;
        margin-left: 20%;
        img{
            width: 4em;
            height: 4em;
        }
    }


}
