.buttons-wrapper {
  button {
    width: 100%;
  }
}

.count-group-container {
  .font-body-tiny {
    font-weight: 500;
  }

  img {
    aspect-ratio: 1;
    width: 60px;
  }
}

.count-group-container > div {
  // background-color: var(--background-color-lg);
  border: 1px solid var(--primary-color);
  border-radius: $border-radius;
  cursor: pointer;
  margin-bottom: 10px;
  padding: $general-padding;
}

.events-list {
  width: 100%;

  @include for-tablets {
    background-color: var(--background-color);
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px;
    width: 60%;
  }

  @include for-desktops {
    width: 40%;
  }
}

.event-post {
  padding: 10px 20px;

  .bi-three-dots-vertical {
    font-size: 20px;
  }
}

.font-headline.event-post {
  @include for-tablets {
    padding: 0;
  }
}

.post-img-wrapper {
  aspect-ratio: 1;
  max-width: 10%;
  overflow: hidden;
}

.profile-container {
  padding: 0;
}

.top-profile-wrapper {
  align-items: flex-start;

  img {
    aspect-ratio: 1;
    max-width: 220px;
    width: 30%;

    @include for-tablets {
      width: 23%;
    }

    @include for-desktops {
      width: 15%;
    }
  }

  .side-profile {
    gap: 10px;
    margin-left: 10px;

    .bio {
      @include for-tablets {
        font-weight: 500;
        @include body;
      }
    }

    i {
      color: var(--secondary-color);
      font-size: 20px;

      @include for-tablets {
        font-size: 25px;
      }

      @include for-desktops {
        font-size: 30px;
      }
    }

    .profile-ratings {
      display: flex;
      gap: 5px;
    }

    @include for-tablets {
      justify-content: center;
      gap: 20px;
      margin-left: 80px;
    }

    @include for-desktops {
      margin-left: 100px;
    }
  }

  @include for-tablets {
    align-items: center;
  }
}

.user-events {
  flex: 1;

  @include for-tablets {
    padding: 0 20px;
  }
}

.user-info {
  .counts {
    .count {
      margin-right: 5px;
    }

    .count-group:hover {
      cursor: pointer;
    }

    .normal-font-weight {
      font-weight: 400 !important;
    }

    @include for-tablets {
      width: 70%;
    }

    @include for-desktops {
      width: 50%;
    }
  }

  i {
    color: var(--secondary-color);
    font-size: 15px;
  }
}

.user-profile {
  gap: 5px;
  padding: $general-padding;

  .buttons-wrapper {
    gap: 20px !important;

    @include for-tablets {
      width: 40%;
    }
  }
}

.user-profile > div {
  gap: 3px;
  padding: 5px 0;
}
