// Search Container Styling
.search-container {
  height: 100%;
  position: relative;
 
  .move-to-top {
    animation: move-up ease-in-out 1s forwards;
  }
}
.search-input-container {
  bottom: 10px;
  display: flex;
  position: absolute;
  width: calc(100% - 40px);

  @include for-tablets {
    width: calc(100% - 20px);
  }
}

.search-icon-wrapper {
  align-items: center;
  background-color: #ced4da;
  border: 1px solid #ced4da;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: center;
  width: 10%;

  &:hover {
    cursor: pointer;
  }

  i {
    color: var(--primary-color); 
    font-size: 25px;
  }
}

.search-input {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  padding: 10px 8px;
  width: 90%;
}

.search-results {
  display: none;
  
}
