* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  min-width: 300px;
  max-width: 1400px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  @include body;

  @include for-tablets {
    background-color: var(--background-color-lg);
  }
}

/* For webkit-based browsers */
html {
  /* For webkit-based browsers */
  &::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 10px;
  }
  
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    margin: 5px;
  }
  
  &::-webkit-scrollbar-thumb:hover {
    background-color: var(--secondary-color);
  }
}

a {
  @include body-tiny;
}

.display-error {
  color: var(--error-message-color);
}

main {
  min-height: 100vh;
}

.profile-img {
  border-radius: 10px;
}

section {
  flex: 1;
  padding: $general-padding;
}
