* {
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
  @include body;

  @include for-tablets {
    background-color: var(--background-color-lg);
  }
}

a {
  @include body-tiny;
}

section {
  padding: $general-padding;
  height: 100vh;
}
