:root {
  --background-color: #fff;
  --background-color-lg: #fafafa;
  --error-message-color: #f00;
  --main-text-color: #fff;
  --primary-color: #3b44f6;
  --secondary-color: #3ec70b;
  --secondary-text-color: #212529;
  --tertiary-color: #a149fa;
}

.btn-primary {
  border: none;
  background-color: var(--primary-color);
  border-radius: 10px;
  color: var(--main-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  font-weight: 500;
  line-height: 16px;
  outline: none;
  padding: 15px 20px;
}
@media only screen and (min-width: 600px) {
  .btn-primary {
    font-size: 12px;
    line-height: 16px;
  }
}
@media only screen and (min-width: 992px) {
  .btn-primary {
    font-size: 14px;
    line-height: 20px;
  }
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:disabled {
  background-color: var(--primary-color);
  box-shadow: none;
  filter: brightness(110%);
}

.btn-primary-outline {
  border-color: var(--primary-color);
  background-color: var(--background-color);
  border-radius: 10px;
  color: var(--secondary-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  font-weight: 500;
  line-height: 16px;
  outline: none;
  padding: 15px 20px;
}
@media only screen and (min-width: 600px) {
  .btn-primary-outline {
    font-size: 12px;
    line-height: 16px;
  }
}
@media only screen and (min-width: 992px) {
  .btn-primary-outline {
    font-size: 14px;
    line-height: 20px;
  }
}
.btn-primary-outline:hover, .btn-primary-outline:focus, .btn-primary-outline:active, .btn-primary-outline:disabled {
  background-color: var(--background-color);
  box-shadow: none;
  filter: brightness(110%);
}

.btn-secondary {
  border: none;
  background-color: var(--secondary-color);
  border-radius: 10px;
  color: var(--main-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  font-weight: 500;
  line-height: 16px;
  outline: none;
  padding: 15px 20px;
}
@media only screen and (min-width: 600px) {
  .btn-secondary {
    font-size: 12px;
    line-height: 16px;
  }
}
@media only screen and (min-width: 992px) {
  .btn-secondary {
    font-size: 14px;
    line-height: 20px;
  }
}
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary:disabled {
  background-color: var(--secondary-color);
  box-shadow: none;
  filter: brightness(110%);
}

.btn-secondary-outline {
  border-color: var(--secondary-color);
  background-color: var(--background-color);
  border-radius: 10px;
  color: var(--secondary-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  font-weight: 500;
  line-height: 16px;
  outline: none;
  padding: 15px 20px;
}
@media only screen and (min-width: 600px) {
  .btn-secondary-outline {
    font-size: 12px;
    line-height: 16px;
  }
}
@media only screen and (min-width: 992px) {
  .btn-secondary-outline {
    font-size: 14px;
    line-height: 20px;
  }
}
.btn-secondary-outline:hover, .btn-secondary-outline:focus, .btn-secondary-outline:active, .btn-secondary-outline:disabled {
  background-color: var(--background-color);
  box-shadow: none;
  filter: brightness(110%);
}

.btn-small {
  padding: 7.5px 10px;
}

.input-frame {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 16px;
  border-radius: 10px;
  box-shadow: none !important;
  outline: none !important;
  padding: 20px 15px;
  width: 100%;
}
@media only screen and (min-width: 600px) {
  .input-frame {
    font-size: 14px;
    line-height: 20px;
  }
}
@media only screen and (min-width: 992px) {
  .input-frame {
    font-size: 16px;
    line-height: 24px;
  }
}
.input-frame:active, .input-frame:focus {
  border-color: var(--primary-color);
  outline: none;
}

.logo {
  width: 120px;
}

* {
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 16px;
}
@media only screen and (min-width: 600px) {
  html, body {
    font-size: 14px;
    line-height: 20px;
  }
}
@media only screen and (min-width: 992px) {
  html, body {
    font-size: 16px;
    line-height: 24px;
  }
}
@media only screen and (min-width: 600px) {
  html, body {
    background-color: var(--background-color-lg);
  }
}

a {
  font-family: "Roboto", sans-serif;
  font-size: 8px;
  line-height: 10px;
}
@media only screen and (min-width: 600px) {
  a {
    font-size: 10px;
    line-height: 12px;
  }
}
@media only screen and (min-width: 992px) {
  a {
    font-size: 12px;
    line-height: 18px;
  }
}

main {
  min-height: 100vh;
}

section {
  padding: 10px 20px;
  min-height: 100vh;
}

.error-message {
  color: var(--error-message-color);
}

.form {
  align-items: center;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
@media only screen and (min-width: 600px) {
  .form {
    border-radius: 10px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.15);
    padding: 20px;
    width: 50%;
  }
}
@media only screen and (min-width: 992px) {
  .form {
    width: 30%;
  }
}

.form-help {
  font-family: "Roboto", sans-serif;
  font-size: 8px;
  line-height: 10px;
}
@media only screen and (min-width: 600px) {
  .form-help {
    font-size: 10px;
    line-height: 12px;
  }
}
@media only screen and (min-width: 992px) {
  .form-help {
    font-size: 12px;
    line-height: 18px;
  }
}

@media only screen and (max-width: 599px) {
  .mainsearch {
    width: 100%;
    margin-left: 0px;
  }
  .mainsearch .card123 {
    margin-top: 2em;
  }
  .mainsearch .card123 .cname {
    font-size: 12px;
  }
  .mainsearch .card123 .rname {
    font-size: 10px;
    margin-left: 1em;
  }
}
@media only screen and (min-width: 600px) {
  .mainsearch {
    width: 60%;
    margin-left: 20%;
  }
  .mainsearch .card123 {
    margin-top: 2em;
  }
  .mainsearch .card123 .cname {
    margin-top: 0.5em;
    font-size: 16px;
  }
  .mainsearch .card123 .rname {
    margin-top: 0.5em;
    font-size: 12px;
    margin-left: 2em;
  }
}
@media only screen and (min-width: 992px) {
  .mainsearch {
    width: 40%;
    margin-left: 30%;
  }
  .mainsearch .card123 .cname {
    margin-top: 0.5em;
    font-size: 16px;
  }
  .mainsearch .card123 .rname {
    margin-top: 0.5em;
    font-size: 12px;
    margin-left: 2em;
  }
}
.mainsearch {
  background-color: #f9f9f9;
  display: flex;
  box-shadow: 2px 2px 5px 3px #c6c6c6;
  border-radius: 1%;
}
.mainsearch .pcontain {
  margin-top: 1em;
}
.mainsearch .pcontain .card123 {
  border-bottom: 1px solid black;
  border-radius: 5%;
}
.mainsearch .pcontain .card123 .cname {
  margin-left: 5%;
  line-height: 20px;
  font-weight: bold;
}
.mainsearch .pcontain .card123 .rname {
  color: #626262;
}

/*# sourceMappingURL=styles.css.map */
