{% extends 'invite/layout.html' %}

{% block title %} Confirm Email {% endblock %}

{% block body %}

<h1>This is a confirm email page</h1>

    <div class="logo">
        <img src="https://images.unsplash.com/profile-1633364056312-0319b9fc4586image?dpr=1&auto=format&fit=crop&w=150&h=150&q=60&crop=faces&bg=fff"
            alt="">
    </div>
    <p>We have sent a code to johndoe123@gmail.com.</p>
    <input type="text" class="code" placeholder="Enter Code Here" required>
    <br>
    <button>Continue</button>

<a href='{% url "invite:register" %}'>Register</a>

{% endblock %}
