{% extends 'invite/layout.html' %}

{% block title %} Reset Password {% endblock %}

{% block body %}

<h1>This is a new password page</h1>

<!-- Your code goes here -->
<h1>Reset Password Page</h1>
<img src='https://images.unsplash.com/photo-1669650853522-fe5a4b89a119?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80' height='100px' alt='This is a logo'><br><br>
<div class='form-container'>
  <form>
    <div>
      <input type='password' placeholder='New Password'><br><br>
      <input type='password' placeholder='Confirm Password'><br><br>
    </div>
    <div>
      <input type='submit' value='Continue'>
    </div><br><hr>
  </form>
</div>
</div>

<a href='{% url "invite:reset_password" %}'>Reset Password Page</a>
{% endblock %}
